.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 1024px) {
  /* Laptop and Desktop screens */
  .player-wrapper {
    width: 640px;
    height: 360px;
    padding-top: 0;
  }
}

@media (min-width: 1440px) {
  /* Larger desktop screens */
  .player-wrapper {
    width: 640px;
    height: 360px;
    padding-top: 0;
  }
}
